@import "./variables";

.bottom-footer-nav {
  border-top: 1px solid $color-primary-200;
  position: absolute;
  bottom: 0;
  width: 100%;
  padding-top: 15px;
  padding-bottom: 15px;
}

.footer-nav-container {
  display: grid;
  grid-template-columns: 4fr 1fr;
  //border: 2px solid green;
  align-items: center;
}

.footer-left-list {
  display: flex;
  flex-direction: row;
  justify-content: start;
  //border: 1px solid blue;
}

.footer-left-list li {
  padding-right: 25px;
}

.footer-left-list li:last-child {
  padding-right: 0px;
}

.footer-left-list .footer-nav-link {
  text-decoration: none;
  padding: 8px;
  color: $color-primary-200;
  font-weight: $fw-semi-bold;
  letter-spacing: 1px;
  font-size: $fs-300;
}

.footer-right {
  grid-column-end: 3;
}

.footer-right-list {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
 //border: 1px solid red;
  width: fit-content;
}

.footer-right-list li {
  padding-right: 20px;
}

.footer-right-list li a {
  padding: 8px;
}

.footer-right-list li a .bi {
  font-size: $fs-400;
}

.footer-right-list li:last-child {
  padding-right: 0;
}

.social-media-link .bi {
  font-size: $fs-500;
}

@media screen and (max-width: 992px) {
  .bottom-footer-nav {
    padding-top: 10px;
    padding-bottom: 10px;
  }

  .footer-left-list li {
    padding-right: 5px;
  }

  .footer-right-list li {
    padding-right: 5px;
  }
}

@media screen and (max-width: 768px) {
  .footer-left {
    display: none;
    width: 0;
  }

  .footer-nav-container {
    display: flex;
  }

  .footer-right {
    margin: auto;
  }

  .footer-right-list li {
    padding-right: 0;
  }
  
  .footer-right-list li a {
    padding: 8px 20px;
  }
}