@import "./variables";

header {
  padding-top: 10px;
  padding-bottom: 10px;
  
}

.navbar{
  position: absolute; 
  left: 0; 
  right: 0; 
  margin-left: auto; 
  margin-right: auto;
  z-index: 800;
}

.navbar-brand img {
  width: 380px;
  height: 90px;
  cursor: pointer;
}

.navbar-nav{
  margin-left: auto;
}

.navbar-nav .nav-item .nav-link {
  color: $color-primary-100;
  font-weight: $fw-semi-bold;
  letter-spacing: 1px;
  font-size: $fs-300;
}

.nav-item{
  padding-left: 0;
  padding-right: 25px;
}

.nav-item:last-child{
  padding-right: 0;
}

.nav-item:last-child .nav-link{
  padding-top: 0;
  padding-bottom: 0;
  padding-left: 8px;
  padding-right: 0;
}

.contact-me-btn {
  @include btnPrimary();
}

.contact-me-btn:hover {
  @include btnPrimaryHover();
}

@media screen and (max-width: 1040px) {
  .nav-item{
    padding-right: 10px;
  }
}