@import "./variables";

header {
  padding-top: 10px;
  padding-bottom: 10px;
}

.navbar {
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
}

.navbar-brand img {
  width: 120px;
  height: 90px;
  cursor: pointer;
}

.navbar-nav {
  margin-left: auto;
}

.navbar-nav .nav-item .nav-link {
  color: $color-primary-200;
  font-weight: $fw-semi-bold;
  letter-spacing: 1px;
  font-size: $fs-300;
}

.navbar-nav .nav-item:last-child {
  padding-right: 0;
}

.nav-item {
  padding-left: 0;
  padding-right: 25px;
}

@media screen and (max-width: 1040px) {
  .nav-item {
    padding-right: 10px;
  }
}

@media screen and (max-width: 991px) {
  .nav-item {
    padding-right: 10px;
  }
}
