@import "./variables";

.main-img-container {
  position: absolute;
  z-index: 600;
  left: 0;
  top: 0;
 
}

.user-details{
  position: absolute;
  z-index: 700;
  left: 50%;
  top: 30%;
  transform: translate(-50%, 0);
}

.user-details h1{
  color: $color-primary-100;
  font-size: $fs-700;
  font-weight: $fw-bolder;
  text-align: center;
}

.user-details p{
  color: $color-primary-100;
  font-size: $fs-500;
  font-weight: $fw-semi-bold;
  letter-spacing: 1px;
}

.user-details .social-link-list{
  @include flexCenter(row);
  font-size: 30px;
}

.user-details .social-link-list li{
  padding-left: 16px;
  padding-right: 16px;
 
}

.bi{
  color: rgb(255, 255, 255);
  cursor: pointer;
}