@import "../node_modules/bootstrap/scss/bootstrap";
@import "./variables";
@import "./navbar";
@import "./main-container";
@import "./footer";

// Stop mobile scrolling left and right
html,
body {
  width: auto !important;
  overflow-x: hidden !important;
  font-size: $fs-body;
  font-family: "Jost", sans-serif;
  position: relative;
  min-height: 100vh;
  background-color: $color-primary-100;
  position: relative;
}

* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
  font: inherit;
}

ul[role="list"],
ol[role="list"] {
  list-style: none;
  margin: 0;
  padding: 0;
}

.card {
  border: none;
}
